@import"./utils/variables";
// @import"./base/base-body";
// @import"./sharing/button-ikon";
// @import"./components/studio";
// @import"./components/sitenav";
// @import"./components/hero";
// @import"./components/modal";
// @import"./components/declaration";
// @import"./components/work";
// @import"./components/work-label";
// @import"./components/our-team";
// @import"./components/portfolio";
// @import"./components/button-menu";
// @import"./components/portfolio-list";
// @import"./components/adaptive";
// @import"./components/regular-customers";
// @import"./components/footer";
@import"./mobile/index";