 /* ------Work-label--------- */
.work__label {
   width: 370px;
   height: 70px;
   padding-top: 27px;
   padding-bottom: 27px;
   background-color: #2F303ACC;
   color: $accentColor;
   @extend %std-modal;
   text-align: center;
   text-transform: uppercase;
   bottom: 0;
   position: absolute;
}
