/*--------- modall ------------*/
.backdrop {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #00000033;
   top: 0;
   left: 0;
   transition: opacity 600ms cubic-bezier(0.4, 0, 0.2, 1),
   visibility 600ms cubic-bezier(0.4, 0, 0.2, 1);
   overflow-y: scroll;
   }

.backdrop.is-hidden {
   visibility: hidden;
   pointer-events: none;
   opacity: 0;
}

.backdrop.is-hidden .modal__wind {
   transform: translate(-50%, -50%) scale(1.2);
}

.modal__wind {
   display: flex;
   flex-direction: column;
   position: absolute;
   @media screen and (max-width:479px){
   max-width: 450px;
   max-height: 609px; 
   width: 100%;
   height: 100%; 
   }
   @media screen and (min-width:480px){
      width: 450px;
      height: 100%;
      max-height: 609px;
   }
   @media screen and (max-width:768px){
   overflow: scroll;
   &::-webkit-scrollbar{
      width: 0;
   }
   }
   @media screen and (min-width:768px) and (max-width:1199px){
      width: 450px;
      height: 609px;
      overflow: hidden;
   }
   @media screen and (min-width:1200px){
      width: 528px;
      height: 581px;
      overflow: hidden;
   }
   background: $bodyBackgroundColor;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%) scale(1);
   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-wind__close {
   display: flex;
   justify-content: flex-end;
   padding-top: 8px;
   padding-right: 8px;
   margin-bottom: 2px;
}

.btn-close {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   background-color: $accentColor;
   border: 1px solid rgba(0, 0, 0, 0.1);
   box-sizing: border-box;
   border-radius: 50%;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{background-color: $accentColor;
   fill: $logoColor;}
}

.modal__form {
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 40px;
}

.modal__title {
   text-align: center;
   font-size: $fontSize20;
   line-height: $lineHeight117;
   @media screen and (max-width:1199px){
   line-height: $lineHeight150; 
   height: 60px; 
   }
   letter-spacing: $letterSpacing03;
   height: 23px;
   margin-bottom: 12px;
   color: $titleTextColor;
}

.modal__speaker {
   display: flex;
   flex-direction: column;
}

.modal__fild {
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
   position: relative;
}

.modal__button {
   display: flex;
   justify-content: center;
}

.button__standart--modal {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   padding-left: 29px;
   padding-right: 28px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{background-color: $logoBackgroundClick;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}
}

.modal__label {
   display: flex;
   flex-direction: column;
   @extend %title-footer;
   cursor: pointer;
}

.modal__subtitle {
   display: block;
   margin-bottom: 4px;
}

.modal__input {
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   padding-left: 42px;
   border-radius: 4px;
   cursor: pointer;
   &:focus{outline: none;
   border-color: $logoColor;}
   &:focus~.modal__icon{fill: $logoBackgroundColor;}
}

.modal__icon {
   position: absolute;
   left: 12px;
   top: 50%;
   cursor: pointer;
   &:focus{fill: $logoBackgroundColor;}
}

.modal__coment {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.modal__excerpt {
   margin-bottom: 4px;
   @extend %title-footer;
   color: $primaryTextColor;
   height: 14px;
}

.modal__textarea {
   border: 1px solid rgba(33, 33, 33, 0.2);
   @extend %title-footer;
   padding: 12px 16px;
   height: 120px;
   border-radius: 4px;
   resize: none;
   &:focus{outline: none;
   border-color: $logoColor;}
   &::placeholder{font-size: 12px;
   line-height: 1.17;
   letter-spacing: 0.01em;
   text-align: left;
   color: rgba(117, 117, 117, 0.5);}
}

.modal__agreement {
   display: flex;
   justify-content: center;
   font-size: $fontSize14;
   line-height: $lineHeight171;
   letter-spacing: $letterSpacing03;
   color: $primaryTextColor;
   height: 24px;
   margin-bottom: 30px;
   @media screen and (max-width:1199px){
   font-weight: $fontWeight400; 
   font-size: $fontSize12;
   line-height:$lineHeight162;
   }
}

.agreement__checkbox { 
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
} 

.agreement__check {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
   
}

.agreement__icon {
   position: absolute;
   left:-1px;
   top: 3px;
}

.agreement__checkbox{
   &:checked~.agreement__check{left: 0px;
      top: 4px;
      width: auto;
      height: auto;
      clip: auto;
      }
   &:checked~.agreement__icon{ position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;}
}

.agreement__link {
   color: $logoColor;
   @media screen and (min-width:480px){
      border-bottom: 1px solid $logoColor;
   border-top: 1px solid $accentColor;
   line-height: 0.62;   
   }
}

.agreement {
   position: relative;
   padding-left: 23px;
   @media screen and (max-width:1199px){
   display: flex;
   align-items: center;
   }
}

