/*------------ work--------------- */
.work{
   display: none;
   @media screen and (min-width: 1200px){
   display:flex;
   }
}
.work__title {
   color: $titleTextColor;
   @extend %title-section;
   text-align: center;
   margin-bottom: 50px;
}

.work__images {
   @media screen and (min-width: 1200px){
      display:flex;
   }
}

.work__card {
   width: 370px;
   position: relative;
   &:not(:last-child){ margin-right: 30px;}
}