/*------------HEADER----------- */
/* -----------studio----------- */
.page-header {
   border-bottom: 1px solid #ECECEC;
   position: relative;
}

.page-header__comtent {
   display: flex;
   align-items: center; 
   @media screen and (max-width:1199px) {
   width: 100%;
}  
   @media screen and (min-width: 480px){
      padding-left: 15px;
      padding-right: 15px;
}
   @media screen and (min-width: 768px){
   width: 768px; 
}
   @media screen and (max-width: 767px) {
      padding-left: 15px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      max-width:480px;
      width: 100%;
   }
   margin-left: auto;
   margin-right: auto;
   @media screen and (min-width: 1200px){
      width: 1200px; 
      padding-left: 15px;
      padding-right: 15px;
   }
}

.logo {
   display: block;
   color: $logoColor;
   font-family: $fontFamilyRaleway;
   font-weight: $fontWeight700;
   font-size: $fontSize26;
   line-height: $lineHeight119;
   letter-spacing: $letterSpacing03;
}

.logo__text {
   color: $titleTextColor;
}

.page-header__nav {
   @media screen and (min-width:768px) {
   display: flex;
   }
   align-items: center;
   width: 100%;
}

/*------------ Sitenav---------- */

.page-header__site {
   @media screen and (min-width:768px) {
      display: flex;   
   } 
   @media screen and (min-width:1200px){
   margin-left: 93px;
   }
}

.site__click {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   position: relative;
}

/* -----адаптив-Sitenav----- */


.site__click.site__current {
   color: $logoColor;
   &::after{display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $logoColor;
      border: 1px solid $logoColor;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -1px;}
}

.page-header__item:not(:last-child) {
   @media screen and (min-width:768px) {
   margin-right: 50px;
   } 
}

.site__click {
   color: $titleTextColor;
   @extend %sitenav-text;
   letter-spacing: $letterSpacing02;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{color: $logoColor;}
}

.page-header__box{
   @media screen and (max-width:768px) {
   display: none;
   } 
   @media screen and (min-width:768px){
   display: flex; 
   }
   @media screen and (max-width:1199px) {
   justify-content: flex-end;
   margin-left: 86px;
   } 
   align-items: center;
   width: 100%;
}

.page-header__contact{
   margin-left: auto;  
}

.page-header__auth {
   @media screen and (min-width:1200px) {
   display: flex;
   } 
   align-items: center;
}

.page-header__auth svg {
   margin-right: 10px;
   fill: currentColor;
}

.auth__click {
   display: flex;
   align-items: center;
   height: 50px;
   @media screen and (min-width:768px) and (max-width:1199px){
   height: 30px;
   }
}

.page-header__meta:not(:last-child) {
   @media screen and (min-width:1200px) {
   margin-right: 30px;
   } 
}

.auth__click {
   color: $primaryTextColor;
   @extend %sitenav-text;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{color: $logoColor;}
}

.button__stand--burger{
   background-color:$accentColor;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{fill: $logoColor;}
   padding-bottom: 0;
}

