/*----- adaptive-------- */
.portfolio__overly {
   position: relative;
   overflow: hidden;
}

.overly__card {
   width: 370px;
   background-color: rgba(33, 150, 243, 0.9);
   font-size: $fontSize18;
   line-height: $lineHeight156;
   letter-spacing: $letterSpacing03;
   color: $accentColor;
   padding-left: 24px;
   padding-right: 24px;
   padding-top: 63px;
   padding-bottom: 63px;
   position: absolute;
   transform: translateY(0);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

