
   /* --------portfolio-list-------- */

.portfolio__flex {
   padding-top: 0px;
}
.portfolio__site {
   display: flex;
   flex-wrap: wrap;
   padding-top: 0px;
}

.portfolio__title {
   color: $titleTextColor;
   font-size: $fontSize18;
   font-weight: $fontWeight700;
   line-height: $lineHeight200;
   letter-spacing: $letterSpacing06;
   margin-bottom: 4px;
}

.portfolio__desc {
   color: $primaryTextColor;
   font-size: $fontSize16;
   line-height: $lineHeight187;
}

.portfolio__card {
   margin-right: 30px;
   margin-bottom: 30px;
   &:nth-last-child(-n+3){ margin-bottom: 0px;}
   &:nth-child(3n){margin-right: 0px;}
   
}

.portfolio__img {
   width: 370px;
   
}

.portfolio__link {
   display: block;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{ box-shadow: 0px 1px 1px 0px #0000001F;
      box-shadow: 0px 4px 4px 0px #00000040;
      box-shadow: 0px 4px 4px 0px #00000040;}
   &:hover .overly__card{transform: translateY(-100%);}  
}


.portfolio__text {
   padding-top: 20px;
   padding-left: 24px;
   padding-right: 24px;
   padding-bottom: 20px;
   border-left: 1px solid #EEEEEE;
   border-right: 1px solid #EEEEEE;
   border-bottom: 1px solid #EEEEEE;

}






