/* -----------regular customers------- */
.gallery-custom {
   text-align: center;
}

.reg-custom__title {
   margin-bottom: 50px;
}
.reg-custom__title {
   color: $titleTextColor;
   @extend %title-section;
   text-align: center;
}
.reg-custom__gallery {
   display: flex;
   justify-content: center;
}

.reg-custom__client:not(:last-child) {
   margin-right: 30px;
}

.reg-custom__link{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
   border: 1px solid #AFB1B8;
   color: #AFB1B8;
   border-radius: 4px;
   cursor: pointer;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{ border: 1px solid $logoBackgroundClick;
      color: $logoBackgroundClick;}
}

.client {
   fill: currentColor;
}
