
   /*------------HEADER----------- */
/* -----------studio----------- */
.page-header {
   border-bottom: 1px solid #ECECEC
}

.page-header__comtent {
   display: flex;
   align-items: center;
}

.logo {
   display: block;
   color: $logoColor;
   font-family: $fontFamilyRaleway;
   font-weight: $fontWeight700;
   font-size: $fontSize26;
   line-height: $lineHeight119;
   letter-spacing: $letterSpacing03;
}

.logo__text {
   color: $titleTextColor;
}

.page-header__nav {
   display: flex;
   align-items: center;
   width: 100%;
}

