/*------------our team-------------- */
.our-team {
   background-color: $buttonBackColor;

}

.our-team__title {
   color: $titleTextColor;
   @extend %title-section;
   text-align: center;
   margin-bottom: 50px;
}

.our-team__gallery {
   display: flex;
   @media screen and (max-width: 767px){
   flex-direction: column;
   align-items: center;
   
   }
   @media screen and (min-width: 768px) and (max-width: 1199px){
      flex-wrap: wrap;
      justify-content: center;
      margin: -15px;
   }

}

.our-team__card {
@media screen and (max-width: 767px){
   width: 270px;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
   width: calc((100%-4*15px )/ 2);
   width: 354px;
   margin: 15px;
}
@media screen and (min-width: 1200px){
   &:not(:last-child){margin-right: 30px;}
   width: 270px;
}
   background-color: $bodyBackgroundColor;
   text-align: center;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
      
}


.our-team__desc {
   padding-top: 30px;
   padding-bottom: 30px;
}

.our-team__lable {
   color: $titleTextColor;
   font-size: $fontSize16;
   font-weight: $fontWeight500;
   line-height: $lineHeight117;
   margin-bottom: 10px;
}

.our-team__text {
   font-size: $fontSize16;
   line-height: $lineHeight119;
   margin-bottom: 16px;
}

.social__media {
   display: flex;
   justify-content: center;
}

.social__logo:not(:last-child) {
   margin-right: 10px;
}

.icon__social--white {
   color: #AFB1B8;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{background-color: $logoBackgroundColor;
      color: $bodyBackgroundColor;}
}

.media {
   fill: currentColor;
}

