/*------------HEADER----------- */
/* -----------studio----------- */
.page-header {
   border-bottom: 1px solid #ECECEC
}

.page-header__comtent {
  
   align-items: center;
}

.logo {
   display: block;
   color: $logoColor;
   font-family: $fontFamilyRaleway;
   font-weight: $fontWeight700;
   font-size: $fontSize26;
   line-height: $lineHeight119;
   letter-spacing: $letterSpacing03;
}

.logo__text {
   color: $titleTextColor;
}

.page-header__nav {
  
   align-items: center;
   width: 100%;
}
/*------------ Sitenav---------- */
.page-header__site {
  
   
}

.site__click {
   display: block;
   padding-top: 32px;
   padding-bottom: 32px;
   position: relative;
}

/* -----адаптив-Sitenav----- */


.site__click.site__current {
   color: $logoColor;
   &::after{display: block;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $logoColor;
      border: 1px solid $logoColor;
      border-radius: 2px;
      position: absolute;
      left: 0;
      bottom: -1px;}
}


.page-header__item:not(:last-child) {
  
}

.site__click {
   color: $titleTextColor;
   @extend %sitenav-text;
   letter-spacing: $letterSpacing02;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{color: $logoColor;}
}

.page-header__box{
   display: flex;
   align-items: center;
   width: 100%;
}

.page-header__contact{
   
}

.page-header__auth {
   
   align-items: center;

}

.page-header__auth svg {
   margin-right: 10px;
   fill: currentColor;
}

.auth__click {
   display: flex;
   align-items: center;
   height: 50px;
}

.page-header__meta:not(:last-child) {
  
}

.auth__click {
   color: $primaryTextColor;
   @extend %sitenav-text;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus{color: $logoColor;}
}
