.button__standart{
   background-color: $logoBackgroundColor;
   color: $accentColor;
   font-weight: $fontWeight700;
   line-height: $lineHeight187;
   letter-spacing: $letterSpacing06;
   border-radius: 4px;
   height: 50px;
   min-width: 200px;
}

.icon__social{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   cursor: pointer;
}